# Dependency folder
/node_modules

# Yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.sass-cache/

# Git conflit files
*.orig

# Adonis directory for storing tmp files
/tmp

# Test sqlite files
*.sqlite
*.sqlite-journal

# Atom
/.tags*

# VScode
/.vscode/**
/.history
/.project

# Include debug configs for VScode
!/.vscode/launch.json
