# Dependency folder
/node_modules

# Yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.sass-cache/

# Git conflit files
*.orig

# Adonis directory for storing tmp files
/tmp

# The development sqlite files
/database/*.sqlite
/database/*.sqlite-journal

# Atom
/.tags*

# VScode
/.vscode
/.history
/.project


