<h2>Olá, {{ name }}</h2>
<p>
  Parece que você perdeu sa senha. Para gerar uma nova, clique n link abaixo:
</p>
<p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você que fez esta solicitação, favor descartar este e-mail
</p>
